* {
  margin: 0px;
  padding: 0px;
}

p{
  padding: 5px;
  margin: 5px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: black;
}
header {
  background-image:url('https://www.fbi.gov/image-repository/technology.jpg/@@images/image/high');
  width: 960px;
  height: 150px;
  text-align: center;

}

ul {
  background: black;
  padding: 10px;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 960px;
  position: absolute;
}

ul li {
  background: blue;
  padding: 5px;
  border: solid 2px black;
  display: inline;
}



section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

footer {
  background: blue;
}

footer h3 {
  text-align: center;
  font-weight: normal;

}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

.nu {
  background-color: red;
  color: black;
}

h2{
color: Blue;
}

a{
 text-decoration: none;

}
